*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 100%;
    
}
#main{
    width:100%;
    height: 100%;
    /* position: relative; */
    padding: 100px 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-flow: column;

}
#header{
    width: 500px;
    height: 100%;
    border: 2px black solid;
    /* position: absolute; */
    
    /* background-color: rgb(134, 9, 24); */
}

.profile_img{
    display: flex;
}

.profile{
    width: 150px;
    height: 150px;
    display: flex;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    margin-top: 29px;
    border: 3px white solid;
    margin-left: 15px;
}

.back_img{
    width: 497px;
    position: absolute;
    object-fit: cover;
}

.add_img{
    width: 30px;
    height: 30px;
    z-index: 2;
    position: relative;
    margin-top:133px;
    margin-left: -35px;
    border: 3px white solid;
    border-radius: 50%;
}

.pencil_img{
    width: 20px;
    height: 20px;
    position: relative;
    margin-top:133px;
    margin-left: 300px;
    z-index: 2;

    /* border: 2px white solid; */
}
#text{
    margin-left: 11px;
}
#text h1{
    margin-top: 10px 0;
    font-size: 30px;
}

#text h3{
    font-size: medium;
    font-weight: 200;
    margin-top: 8px;
}

#text h2{
    font-size: small;
    font-weight: 200;
    margin-top: 5px;
}

#text h4{
    color: rgb(133, 126, 126);
    font-size: small;
    font-weight: 200;
    margin-top: 1px;
}

#text h5{
    font-size:medium;
    font-weight: 200;
    margin-top: 8px;
    color: rgb(41, 88, 207);
}

.open{
   background-color: rgb(41, 88, 207);
   color:white;
   padding: 5px;
   border: none;
   border-radius: 20px;
   width: 140px;
   margin-top: 7px;
   font-weight: 500px;
   margin-left: 10px;
}

.add{
    background-color: white;
    color:rgb(41, 88, 207);
    padding: 5px;
    border:1px rgb(41, 88, 207) solid;
    border-radius: 20px;
    width: 140px;
    margin-top: 7px;
    font-weight: 500px;
    margin-left: 8px;
 }

 .dots{
    padding: 5px;
    background-color: white;
    border:1px black solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 7px;
    
 }

 #opentowork{
    width: 450px;
    height: 60px;
    padding: 5px 5px;
    margin-left:7px;
    margin-top: 5px;
    background-color: rgb(194, 198, 201);
    border-radius: 7px;
    margin-bottom: 5px;
}


#line{
    height: 10px;
    width: 500px;
    background-color: rgb(230, 225, 225);
    /* border: 1px black solid; */
    margin-top: 10px;
}

#page-2{
    width: 500px;
    height: 100%;
    border: 2px black solid;
    margin-top: 5px;
    padding: 7px;
    position: relative;
}

.pr{
    display: flex;
    flex-flow:row;
}

#opentowork p{
     color: blue;
}
.private h3{
   color: rgb(169, 164, 164);
   margin-left: 20px;
   margin-top: -19px; 
   font-size: small;
}
.eye{
    width: 15px;
    margin-top: 7px;
}

#page-3{
    width: 500px;
    height: 100%; 
    border: 2px black solid;
    display: flex;
    padding: 7px;
    position: relative;
    margin-top: 5px;
    padding: 7px;
}

#page-3 h2{
    margin-right: 370px;
}

.img .plus{
    width: 15px;
    height:15px;
    position: absolute;
    margin-left: -60px;
    margin-top: 5px;
}

.pencil{
   width: 20px;
   height: 20px;
   margin-left: -20px;
}

.clg{
    border: 1px black solid;
    background-color: antiquewhite;
    width: 40px;
   height: 40px;
   /* position: absolute; */
   margin-left: -470px;
   margin-top: 40px;
}

.c_name{
    margin-top: 40px;
    margin-left: -400px;
}


#page-4{
    width: 500px;
    height: 100%;
    border: 2px black solid;
    position: relative;
    margin-top: 5px;
}

#page-4 h2{
    margin-left: 6px;
    margin-top: 4px;
}
.pencil1{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -20px;
    margin-left: 469px;
 }

.plus1{
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: -20px;
    margin-left: 428px;
}

#page-4 h3{
    margin-left: 50px;
    padding: 1px;
}